<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Configuración de metadatos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta SEO -->
    <meta name="titulo" content="Contamos con amplio Stock de materiales aislantes para venta o trabajos propios Las aislaciones termicas permiten ahorros energeticos, eficiencia en los procesos que se traducen en reduccion de costos y cuidado del medio ambiente">
    <meta name="fabricacion" content="Bienvenido a nuestro mundo de recubrimiento metálico, donde la precisión se encuentra con la resistencia para dar vida a proyectos extraordinarios. En cada paso de nuestro proceso, fusionamos artesanía experta y tecnología de vanguardia para aplicar recubrimientos metálicos de la más alta calidad.">
    <meta name="copyright" content="© 2024 Aislaciones Termicas Cardozo - Bytech Company">
    <link rel="shortcut icon" href="/logo_cardozo.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/styles.css">
    <title>Aislaciones Térmicas Cardozo</title>
</head>

<body>
    <!-- Inclusión del encabezado -->
    <%- include('../partials/header'); %>

    <!-- Inclusión del banner -->
    <%- include('../partials/banner'); %>

    <!-- Contenido principal de la página -->
    <div class="content">
        <%- include('../partials/main'); %>
    </div>

    <!-- terminos y condiciones del sitio web -->
    <%- include('../partials/terminosCondiciones'); %>

    <!-- politica de privacidad -->
    <%- include('../partials/privacidad'); %>

    <!-- Inclusión del pie de página -->
    <%- include('../partials/footer'); %>

    <!-- Script principal para funcionalidades específicas de la página -->
    <script src="/main.js"></script>
</body>

</html>